::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-horizontal {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  font-family: "Inter", sans-serif;
}

.line-animation {
  position: relative;
  overflow: hidden;
}

.line-animation::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

.line-animation:hover::before {
  width: 100%;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to bottom right,
    transparent 0%,
    transparent 30%,
    rgba(255, 255, 255, 0.13) 51%,
    rgba(255, 255, 255, 0.13) 100%
  );
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.overflow-hidden:hover .gradient-overlay {
  opacity: 1;
}

#slide-image-first,
#slide-image-second,
#slide-image-third,
#slide-image-fourth,
#info-desktop-block,
#info-mobile-block,
#fs-right-fr-first,
#fs-right-sr-first,
#fs-left-sr-first,
#fs-left-horizontal,
#sixth-section,
#ss-left-fr-first,
#ss-right-sr-first,
#ss-left-tr-first,
#ss-right-fourr-first,
#ss-right-fourr-second,
#ss-left-sr-first-mobile,
#ss-left-sr-right-mobile,
#ss-left-tr-first-mobile,
#ss-right-fourr-first-mobile,
#ss-right-fourr-second-mobile {
  transition-property: opacity, transform;
}
