::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-horizontal {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  font-family: "Inter", sans-serif;
}

.line-animation {
  position: relative;
  overflow: hidden;
}

.line-animation::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

.line-animation:hover::before {
  width: 100%;
}

.slide-image {
  transition-property: opacity, transform;
}

#info-desktop-block {
  transition-property: opacity, transform;
}

#fs-right-fr-first {
  transition-property: opacity, transform;
}

#fs-right-sr-first {
  transition-property: opacity, transform;
}

#fs-left-sr-first {
  transition-property: opacity, transform;
}

#fs-left-horizontal {
  transition-property: opacity, transform;
}

#sixth-section {
  transition-property: opacity, transform;
}

#ss-left-fr-first {
  transition-property: opacity, transform;
}

#ss-right-sr-first {
  transition-property: opacity, transform;
}

#ss-left-tr-first {
  transition-property: opacity, transform;
}

#ss-right-fourr-first {
  transition-property: opacity, transform;
}

#ss-right-fourr-second {
  transition-property: opacity, transform;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to bottom right,
    transparent 0%,
    transparent 30%,
    rgba(255, 255, 255, 0.13) 51%,
    rgba(255, 255, 255, 0.13) 100%
  );
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.overflow-hidden:hover .gradient-overlay {
  opacity: 1;
}
